.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.input-form {
  font-size: 10px;
}

.card {
  background-color: #ecebeb;
  border-color: transparent;
}

.input-outer {
  width: 225px;
  margin: 0 auto;
}
